:root {
    --main-color: #d320eb;
    --background-color: #302033;
    --test-color: #ff0000;
    --text-color: #FFFFFF;
    --border-color: olive;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

header {
    text-align: center;
    padding: 1%;
    color: var(--main-color);
}


h1 {
    font-size: 300%;
}

.main-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

h2 {
    z-index: 2;
}

.card {
    margin: 50px;
}

.card h2 {
    width: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    font-size: 300%;
    color: var(--main-color);
    border-radius: 10px;
    /* border-color: var(--border-color); */
    background-color: var(--background-color);
    border: solid;
}

.card p {
    margin: auto;
    border-width: 6px;
    position: relative;
    padding: 120px;
    border-style: dashed;
    bottom: 24px;
    color: var(--text-color);
}

@media screen and (max-width: 700px) {
    .card h2 {
        color: var(--border-color);
    }
}