:root {
    --main-color: #d320eb;
    --background-color: #302033;
    --test-color: #ff0000;
    --text-color: #FFFFFF;
    --border-color: olive;
}

body {
    background-color: var(--background-color);
}

header {
    text-align: center;
    padding: 1%;
    color: var(--main-color);
}

.main-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    flex: 1 0 1; 
}

.card {
    margin: 1%;
    border: dashed;
    border-width: 2px;
    border-color: var(--main-color);
    padding: 20px;
    /* display: block;  */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* flex: 1 0 0; */
    max-width: 300px;
}

.card h2 {
    width: 250px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    margin: auto;
    /* font-size: 150%; */
    color: var(--main-color);
    border-radius: 10px;
    /* border-color: var(--border-color); */
    background-color: var(--background-color);
    border: solid;
}

pre {
    width: 50;
    
    /* margin: auto;
    border-width: 6px;
    position: relative;
    padding: 120px;
    border-style: dashed;
    bottom: 24px;
    color: var(--text-color); */
}

p {
    color: white;
    text-align: center;
    font-size: 10px;
}

.box {
   border: solid;
   border-color: var(--main-color);
   background-image: linear-gradient(white 0%, var(--main-color) 100%);
   box-sizing: border-box;
   padding: 10px;
   width: 100%;
}

@media screen and (max-width: 700px) {
    .card h2 {
        color: var(--border-color);
    }
}